@font-face {
  font-family: 'Neco-Medium';
  src: url('./fonts/Neco-Medium.woff2') format('woff2'),
       url('./fonts/Neco-Medium.woff') format('woff'),
       url('./fonts/Neco-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Neco-MediumItalic';
  src: url('./fonts/Neco-MediumItalic.woff2') format('woff2'),
       url('./fonts/Neco-MediumItalic.woff') format('woff'),
       url('./fonts/Neco-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}